Port 22

Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key

KexAlgorithms curve25519-sha256@libssh.org
Ciphers chacha20-poly1305@openssh.com
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com

AuthorizedKeysFile .ssh/authorized_keys

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no

PubkeyAuthentication yes
AuthenticationMethods publickey

StrictModes yes
MaxAuthTries 1
MaxSessions 10

UsePrivilegeSeparation sandbox
AllowGroups ssh

PrintMotd no
PrintLastLog yes

SyslogFacility AUTH
LogLevel VERBOSE

Subsystem sftp /usr/lib/ssh/sftp-server
